//index
<footer class="flex-row container-fluid font-small bg-light mt-3 unique-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container-fluid">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register</h5>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-primary btn-lg active" role="button"
                    aria-pressed="true">Sign Up!</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>

//productADD
</div>
</div>
<footer class="flex-row container-fluid font-small bg-light mt-3 unique-color-dark pt-4">

    <!-- Footer Elements -->
    <div class="container-fluid">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register</h5>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign
                    Up!</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>    
 //productDetail
 <script src="bootstrap/js/jquery-3.5.1.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js">
    </script>
    </body>
//Register
<footer class="flex-row container-fluid font-small bg-light mt-3 unique-color-dark pt-4">
    
    <!-- Footer Elements -->
    <div class="container-fluid">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">Register</h5>
            </li>
            <li class="list-inline-item">
                <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Sign
                    Up!</a>
            </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>   