
<footer>
    <div class="all-footer">
        <div class="footer-icons">
            <div class="col-md-4 d-md-none justify-content-center"></div>
                <ul class="list-icons-container">
                    <li><a href="https://twitter.com/"><img src="/img/twitter.png" alt="" width="5" height="5" class="icon-twitter"></a></li>
                    <li><a href="https://www.instagram.com/"><img src="/img/instagram.png" alt="" class="icon-instagram"></a></li>
                    <li><a href="https://www.facebook.com/"><img src="/img/facebook.png" alt="" class="icon-facebook"></a></li>
                    
                </ul>
        </div> 
        <div class="main-footer">
                <ul class="list-main-container">
                    <li style="margin: 0 1%;"><a href="/contact">CONTACT </a></li>|
                    <li style="margin: 0 1%;"><a href="/cookies">COOKIES </a></li> |
                    <li style="margin: 0 1%;"><a href="/privacy">PRIVACY</a></li>
                </ul>
        </div>
    </div>
    <!-- PARTIAL JAVASCRIPT -->
    <!-- UIkit JS -->
    <!-- /PARTIAL JAVASCRIPT -->
    </footer>
    <!-- END OF PARTIAL FOOTER -->
    <!-- Footer Elements -->
    <!-- Copyright -->
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
 </footer> 
