<header>
    <div class="container-full">
        <div class="navbarCustom d-flex shadow-sm">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4 mb-4 flex-fill shadow-sm">
                <a class="navbar-brand" href="/">SmartShopper</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <% if (!locals.user) {%>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register">Register</a>
                        </li>
                        <% } %>
                        <li class="nav-item dropdown d-flex">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categorias
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/category/1">Muebles</a>
                                <a class="dropdown-item" href="/category/2">Electrdomésticos</a>
                                <a class="dropdown-item" href="/category/3">Cocina</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                       
                        
                        

                    </ul>

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search"
                                    aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                            </form>
                           
                        </li>
                        <% if (locals.user) { %>
                            
                
                            <li class="nav-item">
                                      <a class="nav-link" href="/administrar">Administrar</a>
                                  </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/carrito"><svg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 512 512'><title>ionicons-v5-d</title><circle cx='176' cy='416' r='16' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><circle cx='400' cy='416' r='16' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><polyline points='48 80 112 80 160 352 416 352' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/><path d='M160,288H409.44a8,8,0,0,0,7.85-6.43l28.8-144a8,8,0,0,0-7.85-9.57H128' style='fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/></svg></a>
                              </li>
                            
                              <li class="nav-item">
                                <a class="nav-link" href="/users/logout">Cerrar sesión<ion-icon name="log-out-outline"></ion-icon></a>
                              </li>
                              
                            
                        <% } else { %>
                        <li class="nav-item">
                            <div class=nav-item>
                                <a class="nav-link" href="/users/login">Login</a>
                        
                         </div>
                        </li>
                        <div class=nav-item>
                            <a class="nav-link" href="/users/register">Register</a>
                        </div>
                        <% } %>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>