.navbarCustom {
    height: 25%;
    background-color:rgb(250, 189, 83);
}
.title-home {
    font-size: 16px;
}


.sansserif {
    font-family:Helvetica, Arial, sans-serif;
}

.wrapper {
    white-space: nowrap;
    flex-grow: 1;
}


.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-grow: 1;
}

.register-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.form-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}
.aling-flex-start {
    align-self: flex-start;
}

img {
    width: 200px;
    /* You can set the dimensions to whatever you want */
    height: 200px;
    object-fit: contain;
}

.img-prod-detail {
     width: 400px;
     /* You can set the dimensions to whatever you want */
     height: 400px;
     object-fit: contain;
}

.height-description{
    min-height: 20vh;
    max-width: 100%;
/* altura de descripcio*/

}

.custom-file {
    display: flex;
    align-self: center;
    justify-self: center;
}
.img-edit-form{
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 100%;
    height: auto;
}

.max-width-80 {
    max-width: 80%;
}

a {
    text-decoration: none;    /* For Example */
}
.all-footer {
    bottom: 0;
    width: 100%;
}

.list-main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-self: flex-end;
}

/*Iconos de redes sociales*/
.list-icons-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.icon-twitter {
    width: 25px;
    height: 25px;
    padding: 5px;
}

.icon-instagram {
    width: 25px;
    height: 25px;
    padding: 5px;
}

.icon-facebook {
    width: 25px;
    height: 25px;
    padding: 5px;
}

