.navbarCustom {
    height: 25%;
    background-color:rgb(250, 189, 83);
}
.title-home {
    font-size: 16px;
}

h3 {
    font-size: 12px;
    color: rgba(245, 24, 72, 0.589);
}

.sansserif {
    font-family:Helvetica, Arial, sans-serif;
}

.wrapper {
    white-space: nowrap;
    flex-grow: 1;
}


.scrolls {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    flex-grow: 1;
}

.register-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.form-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;

}.aling-flex-start {
    align-self: flex-start;
}
