<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('../partials/head')  %>
</head>
<body >
    <div class="container">
        <!-- Header de header.ejs -->
        <%- include ('../partials/header')  %>

        <main class="fonditos">
            <div class="col-12 text-center text-md-left py-3"></div>
            <h1 class="col-12 text-center mad">CONTACTO</h1>
            <h3 class="col-12 text-center mt-5">Nos podes encontrar en</h3>
            <p class="mt-5 text-center">DIRECCION|
             Tel. TELEFONO | E-mail:
             <a href="PONER UN MAIL">info@</a></p>
            <iframe src=""></iframe>
            
        </main>
    
        <!-- Footer de footer.ejs -->
        <%- include ('../partials/footer') %>

        <!-- Scripts de scripts.ejs -->
        <%- include ('../partials/scripts') %>

        <!-- Fin del Container -->
    </div>
    
</body>
</html>