<!DOCTYPE html>
<html lang="en">
<head>
<%- include ('partials/head')  %>
</head>

<body >
    <%- include ('partials/header')  %>
    <div class="container">
        <!-- Header de header.ejs -->
        
       
        <main class="fonditos">
            <div class="col-12 text-center text-md-left py-3"></div>
            <h1 class="col-12 text-center mt-5">Contacto</h1>
            <h3 class="col-12 text-center mt-5">Nos podes encontrar en... </h3>
            Av. cabildo 2494 (CABA) Argentina |
             Tel. 4422-8844/2004-8004 | E-mail:
             <a href="mailto:info@smartshopper">info@smartshopper</a></p>
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.856723407986!2d-58.46342918492103!3d-34.55718288047166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb42a43bbb3dd%3A0x54d4b7fa05ebca0c!2sAv.%20Cabildo%202680%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1594307844208!5m2!1ses!2sar" width="1000" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"> width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="col-12 text-center text-md-center mt-1"></iframe>
            
        </main>

   
    </div>

</body>
</html>