<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head')  %>
<body >
    <%- include ('partials/header')  %>
    <div class="container">
        <!-- Header de header.ejs -->
        <main class="fonditos paovh80">
            
            <div class="col-12 text-center text-md-left py-4 ">
                <h3 class="col-12 text-center mt-5">SOBRE NOSOTROS</h1>
            
                <p class="text-center mt-1">Nacimos en los comienzos del año 2020 con el propósito de ofrecer una variedad de productos
                    para todas las edad, con el fin de que puedan acceder de forma online a los productos de su interes.
                </p>
                
                <p class="text-center mt-1">Smart Shopper s.a. es una empresa que nació para dedicarse a la venta de productos para el hogar.
                </p>
                
                <p class="text-center mt-1">Creemos que nuestra gran oferta y variedad de productos será de gran utilidad a la hora de modernizar tus muebles. 
                    Los productos varian entre distintos colores. 
                </p>
                <h3 class="col-12 text-center mt-5">¡GRACIAS POR VISITARNOS!</h2>
            
            </div>
        </main>

   
    </div>

</body>
</html>