<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head')  %>
<body >
    <%- include ('partials/header')  %>
    <div class="container">
        <!-- Header de header.ejs -->
        <main class="fonditos paovh80">
            <div class="col-12 text-center text-md-left py-4 ">
                <h3 class="col-12 text-center mt-5">Política de Privacidad</h1>
                        <p class="uk-article-meta">La seguridad de los datos personales es una prioridad para SmartShopper. Este sitio web se esfuerza por ofrecer el más
                            alto nivel de seguridad para lo cual se utiliza tecnología de avanzada. Adherimos a los requerimientos de la Ley
                            Nacional de Protección de Datos Personales, N° 25.326 y sus normas complementarias.</p>
                        <h5 class="uk-text-lead">Su privacidad</h5>
                        <p> SmartShopper respeta su privacidad. Toda la información que usted nos proporcione se tratará con sumo cuidado y con la
                        mayor seguridad posible, y sólo se utilizará de acuerdo con los límites establecidos en este documento.
                        </p>
                        <p>
                        Cómo se reúne la información SmartShopper solamente reúne sus datos personales cuando usted los proporciona en forma
                        directa y con su consentimiento expreso e informado.
                        </p>
                        <h5 class="uk-text-lead">Cómo SmartShopper utiliza su información</h5>
                        <p>SmartShopper utiliza la información que usted proporciona para: expandir ofertas de comercialización y para publicar
                        productos y servicios que podrían ser de su interés, para personalizar y mejorar nuestros servicios y para fines
                        estadísticos de SmartShopper.
                        </p>
                        <h5 class="uk-text-lead">¿Quién tiene acceso a la información?</h5>
                        <p>SmartShopper siempre está comprometido a presentar nuevas soluciones que mejoren el valor de sus productos y servicios.
                        La información no identificable y estadística también podrá ser compartida con socios comerciales.
                        </p>
                        <h5 class="uk-text-lead">Seguridad y Protección de sus Datos Personales</h5>
                        <p>La seguridad de los datos personales es una prioridad para SmartShopper. Este sitio web se esfuerza por ofrecer el más
                        alto nivel de seguridad para lo cual se utiliza tecnología de avanzada. Adherimos a los requerimientos de la Ley
                        Nacional de Protección de Datos Personales, N° 25.326 y sus normas complementarias.
                        </p>
            </div>
        </main>
    </div>
    <%-include('partials/footer')%>
</body>
</html>