<!DOCTYPE html>
<html lang="es">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../../public/css/master.css">
        <link rel="stylesheet" href="css/master.css">
        <link rel="stylesheet" href="../../public/css/master.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <title>SmartShopper</title>
    </head>
    <body>
        <%-include('partials/header')%>
        <!---------Comienza el main------------------------>
        <div class="container">
            <h1 class="my-4 font-weight-bold sansserif mb-3">Tostadora</h1>
            <div class="row">
                <div class="col-md-7">
                    <img class="img-fluid" src="/public/img/tostadora.jpg" alt="tostadora">
                </div>
                <div class="col-md-4">
                    <h3 class="my-3 font-weight-bold sansserif mb-3">Propiedades</h3>
                    <p> Ofrece resultados rápidos y deliciosos, 
						con 7 ajustes de tostado, desde más claro hasta más oscuro, para tostar según tu preferencia. 
						Además cuenta con capacidad para dos rebanadas de pan, tiene ranuras grandes y anchas para colocar 
						fácilmente una variedad de panes y alimentos. Cuenta con una bandeja extraíble fácil de limpiar y 
						múltiples funciones para cancelar, descongelar y recalenta.</p>
                    <h3 class="my-3 font-weight-bold sansserif mb-3">Cualidades</h3>
                    <ul>
                        <li>Diseño sofisticado en acero inoxidable</li>
                        <li>Origen: China</li>
                        <li>1 año de garantía oficial </li>
                        <li>Facil de limpiar</li>
                        
                    </ul>

                    <h4>Precio: $ 3500 </h4>
                    <div class="input-group mb-4">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-secondary" type="button" id="button-addon1">Cantidad</button>
                        </div>
                        <input type="number" class="form-control max__width" placeholder="Cantidad" aria-label="Example text with button addon" aria-describedby="button-addon3">
                      </div>    
                     <div class="input-group mb-3"> 
                     <div class="">     
                        <button class="btn btn-primary" type="submit">Comprar</button>
                    </div>
                </div>
                </div>

            </div>
            <!-- /.row -->

            <!-- Related Projects Row -->
            <h3 class="my-4 font-weight-bold sansserif mb-3">Otros Productos</h3>

            <div class="row">
                <div class="col-md-3 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="/public/img/aspiradora.jpg" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6 mb-4">
                    <a href="#">
                        <img class="img-fluid" src="/public/img/cafetera.jpg"
                        alt="">
                    </a>
                </div>
            </div>
        </div>

      <!-------------Comienza el footer---------------------->






      <!--LIBRERIAS-->
    <script src="bootstrap/js/jquery-3.5.1.js"></script>
    <script src="bootstrap/js/popper.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js">
    </script>
    </body>

      </html>